<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @task.Description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.Category %>
</p>

<p>
  <strong>Date:</strong>
  <%= @task.Date %>
</p>

<p>
  <strong>Time:</strong>
  <%= time_format(@task.Time) %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @task.Reward %>
</p>

<p>
  <strong>Email:</strong>
  <%= @task.Email %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
